<fieldset>
  <legend><%= l(:xmpp_label_connection_settings) %></legend>
  <p>
    <label><%= l(:xmpp_label_url) %></label>
    <%= text_field_tag "settings[url]", @settings["url"] %>
  </p>
  </fieldset>
<fieldset>
  <legend><%= l(:xmpp_label_notification_settings) %></legend>
  <p>
    <label><%= l(:xmpp_label_send_to_watchers) %></label>
    <%= check_box_tag "settings[send_to_watchers]", true, @settings["send_to_watchers"] %>
  </p>
</fieldset>
